section{
    &.benefits-section{
        height: 566px;
        margin-top: 91px;
        @media(max-width:991px){
            height: 450px;
        }
        @media(max-width:576px){
            height: 170px;
        }
        .title{
            @include font-weight-600;
            @include font-size-40;
            line-height: 48px;
            color: $bg-color;
            @media(max-width:776px){
                @include font-size-32;
                line-height: 30px;
            }
        }
        .info{
       
            word-break: break-word;
        }
    }
    &.benefits-info-section{
        .container-fluid{
            .row{
                .col-12{
                    .benefits-info-container{
                        word-break: break-word !important;
                        padding: 20px 0;
                        p{
                            @include font-weight-400;
                            @include font-size-20;
                            line-height: 34px;
                            color: $font-color-2;
                            @media(max-width:576px){
                                line-height: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}