section{
    &.benefits-section{
        height: 495px !important;
        padding-top: 38px;
        margin-top: 93px;
        .title{
            @include font-weight-600;
            @include font-size-40;
            line-height: 48px;
            color: $bg-color;
        }
        .info{
            margin-top: 58px;
            word-break: break-word;
        }
    }
    &.benefits-info-section{
        .container-fluid{
            .row{
                .col-12{
                    .benefits-info-container{
                        word-break: break-word !important;
                        p{
                            @include font-weight-400;
                            @include font-size-24;
                            line-height: 34px;
                            color: $font-color-2;
                        }
                    }
                }
            }
        }
    }
}