section {
  &.address-section {
    padding-top: 70px;
    padding-bottom: 20px;
    .support-email{
      color:$red-color!important;
    }
    @media (max-width: 430px) {
      padding-bottom: 0;
      padding-top: 40px;
    }

    svg {
      font-size: 20px;
      color: $red-color;
      margin-top: 4px;
      @media (max-width: 430px) {
        margin-top: 0;
      }
    }

    .col-md-4 {
      div {
        margin-bottom: 20px;

        p,
        span {
          font-weight: 400;
          font-size: 18px;
          line-height: 29px;

          color: #000000;
          @media (max-width: 776px) {
            @include font-size-16;
            line-height: 24px;
          }
          @media (max-width: 430px) {
            font-size: 14px;
            line-height: 19px;
          }
          a {
            color: #dc303c;
          }
        }
      }
    }

    .col-md-6 {
      display: flex;

    }

    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;

      color: #484848;
      margin-bottom: 10px;
      @media (max-width: 776px) {
        @include font-size-18;
      }
      @media (max-width: 430px) {
        font-size: 14px;
        line-height: 19px;
      }
      span {
        font-weight: 500;
      }
    }
  }
  &.form-section {
    padding: 20px 0 0px 0px;
    margin-bottom: 68px;
    @media (max-width: 430px) {
      margin-top: 20px;
      padding-top: 0;
    }
    h1 {
      margin: 20px 0;
      @media (max-width: 430px) {
        margin-left: 15px;
      }
    }
    label {
      margin-bottom: 15px;
      @media (max-width: 430px) {
        font-size: 13px;
      }
    }
    input {
      background: #f9f9f9;
      border: none !important;
      outline: none !important;
      border-radius: 4px;
      margin-bottom: 15px;
      height: 50px;
    }
    textarea {
      height: 240px;
      background: #f9f9f9;
      border: none !important;
      @media (max-width: 430px) {
        height: 100px;
      }
    }
    .info-word-size {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }
    .send-btn {
      background-color: $red-color;
      color: #fff;
      padding: 15px 75px;
      @include font-size-20;
      border-radius: 6px;
      border: none;
      @media (max-width: 575px) {
        margin-left: auto;
        margin-right: auto;
        padding: 9px 32px;
        @include font-size-12;
      }
    }
    .col-11 {
      margin-top: 100px;
      @media (max-width: 575px) {
        margin-top: 36px;
      }
    }
  }
}
