section{
    &.coins-section{
        height: 566px;
        margin-top: 77px;
        // margin-bottom: 29px;
        @media(max-width:992px){
            height: 450px;
        }
        @media(max-width:430px){
            height: 170px;
        }
        .title{
            @include font-weight-600;
            @include font-size-40;
            line-height: 48px;
            color: $bg-color;
            @media(max-width:991px){
                line-height: 35px;
                font-size: 30px;
             }
            @media(max-width:430px){
               line-height: 24px;
               @include font-size-20;
            }
            

        }
        .info{
            
            word-break: break-word;
        }
    }
    &.dining-info-section{
        margin-bottom: 68px;
        .container-fluid{
            .row{
                .col-12{
                    .question-answer-container{
                         h6{
                            @include font-weight-500;
                            @include font-size-24;
                            line-height: 34px;
                            color: $font-color-2;
                            
                            @media(max-width:430px){
                                line-height: 24px;
                            }
                        }
                        p{
                            @include font-weight-400;
                            @include font-size-20;
                            line-height: 34px;
                            color: $font-color-2;
                            @media(max-width:430px){
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}