section{
    &.faq-section{
        margin-top: 150px;
        margin-bottom: 150px;
        // height: 1600px;
        .title{
            @include font-weight-600;
            @include font-size-40;
            line-height: 48px;
        }
        .container-fluid{
                .row{
                    .col-12{
                        .section-title{
                            margin-bottom: 30px;
                        }
                        .faq-accordion,.accordion-item{
                            border: none;
                            background: none !important;
                            cursor: pointer !important;
                            .accordion-item{
                                border-bottom: 1px solid #D9D9D9;
                                padding-top:20px;
                                padding-bottom:20px;
                                cursor: pointer !important;
                                @media(max-width:576px){
                                    padding-top:0px!important;
                                    padding-bottom:0px!important;
                                }
                                .accordion-header{
                                    button{
                                        padding-left: 0 !important;
                                        background: none !important;
                                        @include font-weight-400;
                                        @include font-size-25;
                                        line-height: 38px;
                                        color: $font-color-2;
                                        box-shadow: none !important;
                                        @media(max-width:576px){
                                            @include font-size-18;
                                            line-height: 24px;
                                        }
                                        &.accordion-button{
                                            &::after{
                                                width: 5px;
                                                height: 20px;
                                                content: "-" !important;
                                                background: none !important;
                                                transform: none !important;
                                                color: $red-color !important;
                                                font-size: 40px;
                                                transition: .5s all;
                                                @media(max-width:576px){
                                                    width: 10px;
                                                    height: 25px;
                                                    font-size: 30px;
                                                }
                                            }
                                            &.collapsed{
                                                &::after{
                                                    content: "+" !important;
                                                    background: none !important;
                                                    transform: none !important;
                                                    transition: .5s all;
                                                }
                                            }
                                        }
                                    }
                                }
                                .accordion-collapse{
                                    border: none !important;
                                    .accordion-body{
                                        border: none !important;
                                        padding: 0 !important;
                                        padding-left: 30px !important;
                                        word-break: break-all;
                                        position: relative;
                                        p{
                                            word-break: break-word !important;
                                            @include font-weight-400;
                                            @include font-size-19;
                                            line-height: 30px;
                                            color: $font-color-2; 
                                            word-break: break-all;
                                            @media(max-width:576px){
                                                line-height: 19px;
                                            }
                                        }
                                        h6{
                                            @include font-weight-500;
                                            @include font-size-20;
                                            line-height: 38px;
                                            color: $font-color-2; 
                                            word-break: break-all;
                                        }
                                        &::before{
                                            position: absolute;
                                            content: "";
                                            top: 0px;
                                            left: 15px;
                                            width: 5px;
                                            height: 100%;
                                            background-color: $red-color;
                                            border-radius: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
        }
        // &.faq-customer-section{}
        // &.faq-restaurant-section{}
    }
}


@media screen and (max-width: 1199px) {
    .accordion-button {
        &:after {
            position: relative !important;
            top: -10px !important;
        }
    }
}