$bg-color:#FFFFFF !default;

*,body,html{
    margin: 0;
    padding: 0;
    // overflow-x: hidden;
    // text-transform: capitalize !important;
    position: relative;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth !important;
    background-color: $bg-color !important;
}

body,section{
    background-color: $bg-color !important;
    // position: relative;
    // font-family: $font-family-base;
}

section,header{
    width: 100%;
}

.container-fluid{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
@media (min-width:1199px) {
    .container-fluid{
        width: 1191px !important;
    }
}

.bg-image{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    // background-attachment: fixed;
}

:root {
    --image-padding: 10px;
}


body::selection {
    background: rgba(0,0,0,0) !important;
}
body::-moz-selection {
background: rgba(0,0,0,0) !important;
}
// .g-recaptcha {
//     div,iframe{
//         width: 300px !important;
//     }
// }
@media(max-width:575px){
    section h1,section .title{
        font-size: 16px;
    }
    section.info-section .title {
        font-size: 20px;
        @media(max-width:576px){
          font-size: 16px;
    
        }
    }
    section p {
        font-size: 15px!important;
    }
    section.info-section .title  {
        line-height: 25px;
        @media(max-width:576px){
            line-height: 19px;
      
          }
    }
    .g-recaptcha {
        div,iframe{
            width: 100% !important;
        }
    }
    .rc-anchor-normal{
        width: auto !important;
        &.rc-anchor-dark{
            background-color: #f9f9f9 !important;
        }
    }
}


@media (max-width:1199px){
    video{
        width: 100% !important;
    }
}

        
.form-control:focus{
    border:1px solid #ced4da !important;
    box-shadow: none!important;
}

.swal2-confirm{
    &.swal2-styled{
        background-color: $red-color !important;
        outline: $red-color !important;
        &:focus{
        background-color: $red-color !important;
        outline: $red-color !important;
        box-shadow:none!important;
        }
    }
}



//email validation
.con-input {
    position: relative;
}
input.valid ~ .icons .check{
    opacity: 1;
    visibility: visible;
}
input.invalid ~ .icons .x{
    opacity: 1;
    visibility: visible;
}
.icons {
    position: absolute;
    top: 23px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 20px;
    height: 20px;
    transition: all .25s ease;
}
i {
    position: absolute;
    transition: all .25s ease;
    font-size: 1.3rem;
    opacity: 0;
    visibility: hidden;
    font-size: 30px !important;
}
.check {
    color: #3aba6f;
    text-shadow: 0px 5px 10px rgba(58, 186, 111, .3);
}
.x {
    color: rgb(240, 90, 92);
    text-shadow: 0px 5px 10px rgba(240, 90, 92, .3);
}
// input:focus {
//     box-shadow: 0px 15px 25px 0px rgba(0,0,0,.09);
//     padding-left: 20px;
// }
// input:focus ~ .icons {
//     transform: translate(0, -6px);
// }


.rc-anchor-normal{
    width: 100% !important;
}