/* Menu Button 1 */
.navbar-toggler{
    border: none !important;
    background: none !important;
    box-shadow: none !important;
    z-index: 99999;
    .menu-btn-1 {
        height: 32px;
        width: 40px;
        cursor: pointer;
        span{
            visibility: hidden;
            left: 0 !important;
            background: $font-color-2;
            border-radius: 3px;
            content: '';
            position: absolute;
            width: 40px;
            height: 6px;         
            margin-top: 13px; 
            -webkit-transition: .3s ease-in-out;
            -moz-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            &::after,&::before{
                visibility: visible !important;
                left: 0 !important;
                background: $font-color-2;
                border-radius: 3px;
                content: '';
                position: absolute;
                width: 40px;
                height: 4px;         
                margin-top: 13px; 
                -webkit-transition: .3s ease-in-out;
                -moz-transition: .3s ease-in-out;
                -o-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
                @media(max-width:430px){
                   width: 30px;
                }

            }
            &::before {
                margin-top:-10px;
                @media(max-width:430px){
                    margin-top: -5px;
                }
            }
            &::after {
                margin-top:10px;
            }
        }
        &.active{
            // position: absolute;
            // top: 70px;
            // z-index: 999;
            span {
                background: transparent;
                &::before {
                    margin-top: 0;
                
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &::after {
                    margin-top: 0;
                
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

