$bg-color:#FFFFFF !default;
$yellow-color:#EBAC27;
$grey-color:#F0EFEF;
$grey-color-3:#818181;
$green-color: #0AAB37;
$green-color-2:#1E7626;
$grey-color-2:#F1F1F1;
$red-color:#DC303C;
$yellow-color-secondary:#FBCC4F;
$font-color: #080708;
$font-color-2:#000000;
$placeholder: #51514F;
$checkbox-grey:#AFAFAF;
$raiting-grey:#D9D9D9;
$favourite-grey:#D5D5D5;
$raiting-grey-2:#FCFCFC;
$input-grey:#F9F9F9;
$forgot-blue:#4C93F4;
$status-blue:#0469FF;
$contact-input: #E2E2E2;
$table-color:#999999;
$chair-color:#999999;
$tag-color: #232323;
$orange-color: #E2773B;
$guest-number:#E2E2E2;
$radio-unchecked-color:#979797;
$navbar-border:#F5F5F5;






