


//Font weights 
///Font weight-300
@mixin font-weight-100{
    font-weight: 100;
}
@mixin font-weight-300{
    font-weight: 300;
}
///Font weight-400
@mixin font-weight-400{
    font-weight: 400;
}
///Font weight-500
@mixin font-weight-500{
    font-weight: 500;
}
///Font weight-600
@mixin font-weight-600{
    font-weight: 600;
}
///Font weight-700
@mixin font-weight-700{
    font-weight: 700;
}
///Font weight-900
@mixin font-weight-900{
    font-weight: 900;
}
//Font Sizes
///Font size 5
@mixin font-size-5{
    font-size: 5px;
}
///Font size 10
@mixin font-size-10{
    font-size: 10px;
}
///Font size 12
@mixin font-size-12{
    font-size: 12px;
}
///Font size 13
@mixin font-size-13{
    font-size: 13px;
}
///Font size 14
@mixin font-size-14{
    font-size: 14px;
}
///Font size 15
@mixin font-size-15{
    font-size: 15px;
}
///Font size 16
@mixin font-size-16{
    font-size: 16px;
}
///Font size 17
@mixin font-size-17{
    font-size: 17px;
}
///Font size 18
@mixin font-size-18{
    font-size: 18px;
}
///Font size 19
@mixin font-size-19{
    font-size: 19px;
}
///Font size 20
@mixin font-size-20{
    font-size: 20px;
}
///Font size 21
@mixin font-size-21{
    font-size: 21px;
}
///Font size 22
@mixin font-size-22{
    font-size: 22px;
}
///Font size 23
@mixin font-size-23{
    font-size: 23px;
}
///Font size 24
@mixin font-size-24{
    font-size: 24px;
}
///Font size 25
@mixin font-size-25{
    font-size: 25px;
}
///Font size 27
@mixin font-size-27{
    font-size: 27px;
}
///Font size 32
@mixin font-size-32{
    font-size: 32px;
}
///Font size 36
@mixin font-size-36{
    font-size: 36px;
}
///Font size 40
@mixin font-size-40{
    font-size: 40px;
}
///Font size 42
@mixin font-size-42{
    font-size: 42px;
}
///Font size 48
@mixin font-size-48{
    font-size: 48px;
}
///Font size 50
@mixin font-size-50{
    font-size: 50px;
}
//Text designs
///courier status
///restaurant status
///order status

//Register page font
@mixin register-font{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}


